<%layout ('layout/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/forms.css">
<link rel="stylesheet" href="/stylesheets/buttons.css">
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="card shadow" id="card_b">
            <div class="card-body">
                <h5 class="card-title">Edit</h5>
                <div class="row">
                    <div class="col-12" id="form">
                        <form action="/restaurants/<%=single_restaurant._id%>?_method=PUT" method="post" class="needs-validation"
                            novalidate enctype="multipart/form-data">
                            <div class="mb-3">
                                <label class="form-label" for="Name">Name</label>
                                <input class="form-control" type="text" id="Name" placeholder="Name" name="restaurant[Name]"
                                    value="<%=single_restaurant.Name%>" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="Location">Location</label>
                                <input class="form-control" type="text" id="Location" placeholder="Location" name="restaurant[Location]"
                                    value="<%=single_restaurant.Location%>" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="MostPopular Item">MostPopularItem</label>
                                <input class="form-control" type="text" id="MostPopular Item" placeholder="Item" name="restaurant[MostPopular]"
                                    value="<%=single_restaurant.MostPopular%>" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3" id="add_image">
                                <label for="image" class="form-label">Add Image</label>
                                <input class="form-control" type="file" id="image" name="image" multiple>
                            </div>
                            
                            <div class="mb-3">
                                <button class="btn" id="views">Update <%=single_restaurant.Name %> </button>
                            </div>
                            <footer>
                                <form action="/restaurants/<%=single_restaurant._id%>" method="get">
                                    <button class="btn text-black" id="submit">Cancel</button>
                                </form>
                            </footer>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>